/** HEADER **/
#header-nav {
  background-color: Gray;
  margin: 0px;
  border: 5px;
}

.navbar-brand h1 { /* Restaurant name */
  color: Black;
  font-size: 5vw;
  margin-top: 0;
  margin-bottom: 0;
  padding: 10px;
  padding-left: 20px;
  padding-bottom: 25px;
  line-height: .50;
  text-align: left;
}


.navbar-header{
	width:700px;
}

.navbar-brand a:hover, .navbar-brand a:focus {
  text-decoration: none;
}

.navbar-header button .navbar-toggle {
  clear: both;

}

.text-center{
	color:Black;
	font-size: 5vw;
	margin:2px;
	padding: 2px;
}

#collapsable-nav a{
	border:1px solid black;
	color:black;
}


#Menu{
	height:1000px;
	width:100%;
	margin-bottom: 15px;
	position: relative;
	background-color: gray;
	overflow: hidden;
}

#Menu h3{
	text-align: center;
	margin-top: 5px;
	font-size: 1.5em;
	font-weight: bolder;
	text-shadow: 0.5px 0.5px black;
}

#Menu p{
	padding:10px;
	font-size: 1em;
	font-weight: normal;
}

@media(max-width: 767px){
	.navbar-brand{
		padding-top: 10px;
		height:60px;
	}

	#nav-list{  /*navigation list design for mobile*/
  	width:650px;
    font-size: 1.2em;
    text-align: center;
    background-color: whitesmoke;
    margin-top: 0;
    margin-bottom: 0;
    text-transform: uppercase;
    font-weight: bold;
    overflow: visible;
  }

.navbar-nav>li>a{
	padding-top: 10px;
	padding-bottom: 10px;
	line-height: 20px;
}
}


@media(max-width: 767px){
.visible-xs{
	display: block;
}
	.nav>li>a{
	position: relative;
	display: block;
	padding: 10px 15px;
}
.visible-md, .visible-lg{
	display:none;
}
}




  

